

.wrapper_info{
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 191, 12,0.4); 
    
}
.wrapper_info > *{
    background: orange;
    padding: 80px 80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: orange outset; 

}



.wrapper_nickname_info:first-child{
    padding-right:50px;
    font-size: 50px;
}

.name_nickname_info{
    margin-right:50px;
}

.nickname_info{
    font-size: 50px;
}




.name_email_info:first-child{
    padding-right:50px;
    font-size: 50px; 
}

.email_info{
    font-size: 50px; 
}




.wrapper_about_info{
    flex-direction: column;
    text-align: center;
}

.name_about_info{
    font-size: 50px; 
    border-bottom: dotted black 5px; 
    margin: 20px;
    padding-bottom:10px; 
}

.about_info{
    font-size: 30px; 
    overflow: hidden;
}

.wrapper_avatar_info{
    flex-direction: column;
    text-align: center;
    
}
.name_avatar_info{
    font-size: 50px; 
    margin: 40px;
    padding-bottom:10px; 
    border-bottom: dotted black 5px; 
}
.avatar_info{
   margin: 0 auto;
  /*  border: solid peru 10px; */
   border: peru outset 10px; 
}


.avatar_info{
    height: 300px;
    max-width: 500px;
}

.registration_info{
    margin: 0 auto;
    color: black;
    font-size: 50px;
    text-decoration: none;
    border-radius: 10%; 
    border: peru dashed 10px; 
    transition: 0.5s background-color;
    margin-bottom:20px; 
    
}

.registration_info:hover{
    background-color: green;
}