.games_list{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: stretch ;
    list-style-type:        none;
    margin:50px;

}
/* 
#menu li { padding: 0px; }
#menu li a { margin: 0px; display: block; width: 100%; height: 100%; } */
.game{
    
    /* margin-left:            5px;
    margin-right:            5px;
    font-family:            Georgia; */
    padding: 0px; 
    margin: 50px;
    border: solid black 1px;
    border-radius: 15%;
   /*    */
    height: 200px;
    width: 300px;
    text-align: center;
}


 .game a {
               
       /*  display: block;  */
     /*    border-style: solid;
        box-sizing: border-box; */
            /* margin: 0 auto; */
        width: 50px;
        height: 50px;   
        /*   */
       
      
        /*   max-width: 80px;
            margin: auto; */
       
       
} 

.play_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
   /*    */   
   
  
    margin: 0 auto; 
    background: grey;
    margin-top: 100px; 
    border-radius: 40%;
    /* width: 100px; */

    transition: width height 0.1s;
    
}

.play_wrapper:hover {
    width: 100px;
    height: 100px;
  }


.game-overlay-play-button{
    text-align: center;
    height: 6rem;
    transition: transform 1s;
    cursor: pointer;
    margin: 50px;
}

.game-overlay-play-button:hover{
    transform: scale(1.5);
}