 .home{
    display: flex;
    flex-direction: row;
    
} 

.home > *{
    border: dashed peru 2px; 
    border-radius: 5%; 
    background-color:rgba(236, 191, 12,0.2);
}



.info_web_game{
    margin-left: 15px;
    margin-top: 50px; 
    margin-right:50px; 
    width: 50%;
   /*  border: dashed peru 2px;  */
    
    text-align: center;
    padding-top: 5%;
    

}

.info_web_game p{
    font-family: 'Baloo Bhai', cursive;

    color: black;
    font-style: oblique; 
    /* font-family: 'Anton', sans-serif; */
    font-size: 20px; 
    margin: 0 auto;
    background-color: rgba(4, 136, 4, 0.596);
    border: outset grey;
    /* border-radius: 5%;  */
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px; 
    padding: 50px;
}

.news_info p:last-child{
    margin-top: 5px; 
}


.news_web_game{
    font-size: 30px;
    margin-right: 15px;
    margin-right:15px;
    margin-top: 50px; 
    width: 50%;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
}


.news_info p:first-child{
    padding-bottom: 10px; 
    border-bottom: solid peru 3px;
    
}



.news_box{
    font-family: 'Baloo Bhai', cursive;
    background-color: rgba(223, 159, 57, 0.356);
    border: solid peru 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.news_info{
    display: flex;
    flex-direction: column;
    margin-left: 15px; 
    margin-right: 15px; 
    text-align: center;
}


section {
    display: none;
}

section.is-visible {
    display: block;
}




.disabled_section{
    display: none;
}











@media (max-width: 1300px) {
    .home{
         flex-direction: column;
         margin: 0 auto;
        
    }
    .home > *{
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
   
    }

    .info_web_game{
        width: 80%;
      
    }

    .news_web_game{
        width: 80%;        
    }
    .news_box:last-child{
        margin-bottom: 50px;
        
    }
    
    .news_image{
        width: 50%;
      }
}