body {
    height: 100vh;   
    font-family: 'Varela Round', sans-serif;
    margin: auto;
    background-color:rgba(236, 191, 12,0.4);

  }

.header{
    height: 10rem;
    background-color: antiquewhite;
    background-color:peru;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom-style: dashed;
}


  h1 {
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 50px;
    font-weight: 3000;
  }
  .menu-item {
    float: left;
  }

  .menu-list{
    list-style-type:none;
    
  }
  .menu-link {
    position: relative;
    display: block;
    padding: 30px 60px;
    font-size: 20px;
    text-decoration: none;
    perspective: 600px;
    transform-style: preserve-3d;
    perspective-origin: 50% 0;
  }
  .menu-link:before, .menu-link:after {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: green;
    color: white;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .menu-link:before {
    transform-origin: center top;
    transform: rotateX(0) translateY(0);
  }
  .menu-link:after {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
    background: black;
  }
  .menu-link:hover:before {
    transform: rotateX(90deg) translateY(-100%);
  }
  .menu-link:hover:after {
    transform: translateY(0) rotateX(0);
  }

/*  About account  */
  .account{
    margin-left: auto;
  }

  .account ul{
    list-style-type:none;
      justify-content: end;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
     
  }

  .availability{
    height: 20px;
    width: 20px;
    border: solid 1px;
    border-radius: 50%;
    background-color: #66ff66;

  }

  .availability.offline{
    background-color: #ff0000;

  }

  .avatar img{
    height: 80px;
    width: 80px;
    border: solid 1px;
    border-radius: 50%;
  }

  .account ul li{
      padding: 10px;
      margin: 30px;
  }
  
  @media (max-width: 1300px) {
    /* body {
      display: block;
      box-shadow: none;
    } */
    .header{
        display: flex;
        flex-direction: column; 
        height: 400px;
    }

    .account{
        margin:0;
    }



    /* .menu-list {
      position: fixed;
      top: 0;
      height: 100vh;
      width: 20vw;
      background: crimson;
    }
    .menu-item {
      float: none;
    } */


  }
  