body{
    margin: 0;
}

.form-header {
    display: block;
    background:rgb(230, 247, 255); 
   /*  height: 5rem; */
    text-align: center;
    vertical-align: middle;
    margin-left: 20%;
    margin-right: 20%;   
    border-bottom: solid 5px black;
 }


.form-wrapper{
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10vh;

    border-radius: 2%;
    background-color: #f2f2f2;
    padding: 50px;
    border: outset 5px rgb(102, 102, 102);
  /*   grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2;
    grid-gap: 0.1em; */
    
   
  }



.form {
   /* background: #f2f2f2; */
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: auto;
   grid-gap: 3em;
   
    grid-template-areas: 
    "nickname about"
    "email about"
    "file-drop-zone avatar"
    "submit submit"
    ;
 }

 .info-user{
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    height: 3rem;
    width: 100%;
    text-align: start;
    padding-left: 1rem; 
}

.input-nickname{
    grid-area: nickname;
}

.error{
    border: solid 3px red;
}

.error

.input-email{
    grid-area: email;
}



.input-about{
    height: auto;
    grid-area: about;
}

.avatar-zone{
    height: 10rem;
    text-align: center;
    
}
.avatar-image{
    
    width: 10rem;
    justify-self: center;
    grid-area: avatar;
    border-radius: 50%;
    border: solid 1px #ccc; 
}

.fileDropZone{
    grid-area: file-drop-zone;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 3px dashed #ccc; 
}

.dragover{
    border: solid 3px black;
    background-color: rgb(217, 217, 217);
}

.fileInput{
    display: none;
}

.input-submit{
    background: #85e085; 
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    grid-area: submit;
    cursor: pointer;
}

.input-submit:hover{
    background: #5ec55e; 
}

/* ERROR messages */

.requirements{
    display: none;
    background-color:rgba(244, 4, 4, 0.7);
    border-radius: 4px;
    color: white;
    padding-left: 5px;
    margin-top: 2px; 
    width: 70%;
}








@media (max-width: 1250px) {
     
    .form {
    grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        'nickname'
        'email'
        'about'
        "file-drop-zone "
        "avatar"
        "submit";
    }
  }