
.tutorial_wrapper{
    display: none;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}
.tutorial_wrapper > h1{
    margin-bottom:3rem;
    border-bottom: solid black 3px;

}


.tutorial-image{
    margin-left:10rem;
    margin-right:10rem;
    margin-bottom: 5rem;   
    border: outset black 10px;
    width: 800px;
        
}

.tutorial_wrapper.is-visible {
    display: flex;
}