
body {
  background-color: white;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;

}

#main {
  display: none;
  background-color: aqua;
  overflow: auto;
  margin: auto;
  margin-top: 0;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#main h1 {
  color: white;
  
}
.button {
  display:block;
  height: 7rem; 
  padding: 5px;
  margin: 0 auto;
  cursor: pointer;
  
}

ul{
  list-style-type: none;
}
.button:hover {
  animation-duration: 4s;
  transform: scale(1.1);

}

#game{
  display: none;
}

canvas{
  background-color: turquoise;
}

.game-objects{
  display: none;
}

#endgame {
  display: none;
  height: 60%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

a{
  display: inline-block;
}

 audio{
  display: none;
} 
.speakerIconDisable{
  display: none;
}

.headline{
  height: 14rem;
}


.result{
  display: none;
  margin: auto;
  padding-top: 0;
  height: 13rem; 
}